extends ../../aalayout/layout

block content
	.container
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/bser") Home
				li.breadcrumb-item.active(aria-current="page") #{title}
		.row.my-3
			.col-12.text-right
				a.btn.btn-warning(href="/bsSizeStandardAdd") +

		- let widthTr = 100/(sizeNums.length+1);
		table.table.table-hover.table-bordered
			thead
				tr
					th(width=widthTr+"%")
					each sizeNum in sizeNums
						-a;
						th(width=widthTr+"%") #{sizeNum}
			tbody
				- getUrl = "/bsSizeUpdAjax";
				each Standard in Standards
					- a;
					tr
						td
							- getUrl = "/bsSizeStandardUpdAjax", object = Standard;
							- field="code", value=Standard.code, subid='code';
							include ../../../aaPlugin/ajaxInputUpd

						each sizeNum in sizeNums
							- size = null;
							td
								each Size in Sizes
									if String(Size.SizeStandard) == String(Standard._id) && Size.size == sizeNum
										- size = Size;
										- break;
								if size
									- getUrl = "/bsSizeUpdAjax", object = size;
									- field="symbol", value=size.symbol, subid='symbol';
									include ../../../aaPlugin/ajaxInputUpd
									
								else
									span.text-warning.new-span(class="new-span-"+sizeNum+"-"+Standard._id, data-size=sizeNum, data-standard=Standard._id) *
									input.new-ipt.form-control(class="new-ipt-"+sizeNum+"-"+Standard._id, type="text", data-size=sizeNum, data-standard=Standard._id, data-url="/bsSizeNewAjax", style="display:none")
	script(src="./js/bser/size/list.js")