table.mt-3.table.table-hover
	tr
		td: strong Code:
		td #{User.code}
	tr
		td: strong name:
		td #{User.nome}
	tr
		td: strong role:
		td
			- let role = '';
			each roleUser in Conf.roleUser
				- role = '';
				if roleUser.num == User.role
					- role = roleUser.val;
					- break;
			span #{role}
	tr
		td: strong 语言:
		td
			- let lang = '';
			each langUser in Conf.langUser
				- lang = '';
				if langUser.num == User.lang
					- lang = langUser.val;
					- break;
			span #{lang}
	if User.Firm
		- Firm = User.Firm;
		tr
			td: strong Firm:
			td #{Firm.code}
	tr
		td: strong createAt:
		td #{moment(User.crtAt).format('DD/MM/YYYY HH:mm:ss')}
	tr
		td: strong updateAt:
		td #{moment(User.updAt).format('DD/MM/YYYY HH:mm:ss')}