extends ../../../aalayout/layout

block content
	.container
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/bser") Home
				li.breadcrumb-item: a(href="/bsPdspus") 产品列表
				li.breadcrumb-item: a(href="/bsPdspu/"+Pdspu._id) 产品详情
				li.breadcrumb-item.active(aria-current="page") #{title}
		hr
		h4 产品印花(已选)
		.row#PatternedsBox
			each Pattern in Pdspu.Patterns
				- var patternCode = ' ';
				if Pattern.code
					- patternCode = Pattern.code;
					if patternCode.length > 8
						- patternCode = patternCode.slice(0,6) + '...';
				.col-6.col-lg-3.mt-3.text-center(id="Patterned-"+Pattern._id)
					.card
						img.card-img-top.border-bottom.js-click-imgEnlarge(src=Pattern.photo, alt="Pattern Photo Lost", width="100%", height="150px", style="object-fit: scale-down;")
						.patternClick.text-success(data-pdspuid=Pdspu._id, data-patternid=Pattern._id, data-option=-1) #{patternCode}
		hr
		h4 未选
		.row#PatternPoolsBox
			each Pattern in Patterns
				- var flag = 0;
				each cl in Pdspu.Patterns
					if String(cl._id) == String(Pattern._id)
						- flag = 1;
						- break;
				if flag == 1
					- continue;
				- var patternCode = ' ';
				if Pattern.code
					- patternCode = Pattern.code;
					if patternCode.length > 8
						- patternCode = patternCode.slice(0,6) + '...';
				.col-6.col-lg-3.mt-3.text-center(id="PatternPool-"+Pattern._id)
					.card
						img.card-img-top.border-bottom.js-click-imgEnlarge(src=Pattern.photo, alt="Pattern Photo Lost", width="100%", height="150px", style="object-fit: scale-down;")
						.patternClick.text-dark(data-pdspuid=Pdspu._id, data-patternid=Pattern._id, data-option=1) #{patternCode}
	script(src="/js/bser/pdspu/pdpattern.js")