extends ../../../aalayout/layout

block content
	.container
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/bser") Home
				li.breadcrumb-item.active(aria-current="page") #{title}
		.row.my-3
			.col-12.text-right
				a.btn.btn-warning(href="/bsPternAdd") +

		- getUrl = "/bsPternUpdAjax";
		.row
			each Ptern in Pterns
				- object = Ptern;
				.col-6.col-lg-3.mt-4
					.card.text-center(style="width: 100%;")
						img.card-img-top.border-bottom.js-click-imgEnlarge(id="img-"+Ptern._id+"-photo-sub", src=Ptern.photo, alt="Ptern Photo Lost", width="100%", height="150px", style="object-fit: scale-down;")
						
						.row(class="jsImg-clickBefore-"+Ptern._id+"-photo-sub")
							.col-6
								.jsImg-clickUpd.text-info(id="clickUpd-"+Ptern._id+"-photo-sub") [点击]
							.col-6
								- field="photo", value=Ptern.photo, subid="photo", valueHide=true, toUp=-1, fieldDesp="[upd]";
								include ../../../../aaPlugin/ajaxInputUpd
								- fieldDesp = null, valueHide = null, toUp = null;
						.row(class="jsImg-clickAfter-"+Ptern._id+"-photo-sub", style="display:none")
							.col-6
								.jsImg-cancel.btn.btn-secondary(id="clickUpd-"+Ptern._id+"-photo-sub") [取消]
							.col-6
								form(method="post", action="/bsPternPhotoUpd", enctype="multipart/form-data")
									input(type="hidden", name="obj[_id]", value=Ptern._id)
									input(type="hidden", name="flDir", value=Conf.photo.Ptern.dir)
									input(type="hidden", name="flName", value=crUser.Firm+"-"+Ptern.code+"-"+crUser._id)
									input.jsImg-ipt(id="ipt-"+Ptern._id+"-photo-sub", type="file", name="fls", style="display:none")
									.form-group
										input.btn.btn-success(type="submit" value="确认")
						.card-body
							.code
								- field="code", value=Ptern.code, subid="code";
								include ../../../../aaPlugin/ajaxInputUpd
							.PtFirm
								if Ptern.PtFirm
									- PtFirm = Ptern.PtFirm;
									span.mr-3 印花厂: #{PtFirm.code}
								else
									span 未选择印花厂
							.PtCateg.mt-2
								if Ptern.PtCateg
									- PtCateg = Ptern.PtCateg;
									span #{PtCateg.code}
								else
									span 未分类
							.weight.mt-3
								- field="weight", value=Ptern.weight, subid="weight";
								include ../../../../aaPlugin/ajaxInputUpd
							.text-right.mt-3
								a(href="/bsPtern/"+Ptern._id) [查看]