extends ../../../aalayout/layout

block content
	.container
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/bser") Home
				li.breadcrumb-item: a(href="/bsPdspus") 产品列表
				li.breadcrumb-item.active(aria-current="page") #{title}
		hr
		form.mt-5#objForm(method="post", action="/bsPdspuNew", enctype="multipart/form-data")
			.form-group.row
				label.col-3.col-sm-2.col-form-label(for="codeIpt") code
				.col-9.col-sm-6
					input#codeIpt.form-control(type="text", name="obj[code]", autocomplete="off")
				.offset-3.col-9.col-form-label#codeDanger.text-danger(style="display:none") 请输入正确的编号
			//- .form-group.row
				.col-12
					input#PdCategIpt.form-control(type="text", name="obj[PdCateg]" autocomplete="off")
				label.col-3.col-sm-2.col-form-label(for="PdCategIpt") 分类
				.col-3.col-sm-2
					input#FirCategIpt.form-control(type="text", name="FirCategId" autocomplete="off")
					input#FirCategReq.form-control(type="text", list="FirCategDatalist", name="codeFirCateg" autocomplete="off")
					datalist#FirCategDatalist
				.col-3.col-sm-2
					input#SecCategIpt.form-control(type="text", name="SecCategId" autocomplete="off")
					input#SecCategReq.form-control(type="text", list="SecCategDatalist", name="codeSecCateg" autocomplete="off")
					datalist#SecCategDatalist
				.col-3.col-sm-2
					input#ThdCategIpt.form-control(type="text", name="ThdCategId" autocomplete="off")
					input#ThdCategReq.form-control(type="text", list="ThdCategDatalist", name="codeThdCateg" autocomplete="off")
					datalist#ThdCategDatalist
			.form-group.row
				label.col-3.col-sm-2.col-form-label(for="PdCategIpt") 分类
				.col-9.col-sm-6
					select#PdCategIpt.form-control(name="obj[PdCateg]", data-style="btn-info")
						option(value="") 不分类
						each PdCateg in PdCategs
							- code = "["+PdCateg.code+"]";
							if PdCateg.PdCategFar
								- let Far = PdCateg.PdCategFar
								- code = Far.code+" -> "+code;
								if Far.PdCategFar
									- code = Far.PdCategFar.code+" -> "+code;
							option(value=PdCateg._id) #{code}
			.form-group.row
				label.col-3.col-sm-2.col-form-label(for="PdNomeIpt") PdNome
				.col-9.col-sm-6
					input#PdNomeIpt.form-control(type="hidden", name="obj[PdNome]" , autocomplete="off")
					input#PdNomeReq.form-control(type="text", list="PdNomeDatalist", name="codePdNome" autocomplete="off")
					datalist#PdNomeDatalist
				.offset-3.col-9.col-form-label#PdNomeDanger.text-danger(style="display:none") 请输入产品名称
			.form-group.row
				label.col-3.col-sm-2.col-form-label(for="SizeSystIpt") 尺寸标准
				.col-9.col-sm-6
					select#SizeSystIpt.form-control(name="obj[SizeSyst]", data-style="btn-info")
						each SizeSyst in SizeSysts
							- code = "["+SizeSyst.code+"]";
							option(value=SizeSyst._id) #{code}
			.form-group.row
				label.col-3.col-sm-2.col-form-label(for="priceIpt") price
				.col-9.col-sm-6
					input#priceIpt.form-control(type="text", name="obj[price]")
				.offset-3.col-9.col-form-label#priceDanger.text-danger(style="display:none") 请输入正确的售价
			.form-group.row
				label.col-3.col-sm-2.col-form-label(for="costIpt") cost
				.col-9.col-sm-6
					input#costIpt.form-control(type="text", name="obj[cost]")
				.offset-3.col-9.col-form-label#costDanger.text-danger(style="display:none") 请输入正确的采购价
			.form-group.row
				label.col-3.col-sm-2.col-form-label(for="weightIpt") weight
				.col-9.col-sm-6
					input#weightIpt.form-control(type="number", name="obj[weight]", value=1)
			hr
			.form-group.row
				.offset-sm-6.col-sm-2
					input.btn.btn-success.btn-block(type="submit" value="确认")
	script(src="/js/bser/product/Pdspu/edit.js")